<ion-view title="Filtros">
    <ion-content padding="true" class="has-header">
        <h4>Período</h4>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">De</span>
                <input type="date" placeholder="Data Inicial">
            </label>
            <label class="item item-input">
                <span class="input-label">Até</span>
                <input type="date" placeholder="Data Final">
            </label>
            <h4>Segmentos</h4>
            <ion-checkbox ng-model='s.isChecked' ng-repeat='s in segmentos'>{{ s.segmento }}</ion-checkbox>
            <h4>Empresas</h4>
            <ion-checkbox ng-model='e.isChecked' ng-repeat='e in empresas'>{{ e.nomereduzido }}</ion-checkbox>
            <h4>PDV</h4>
            <ion-checkbox>Checkbox</ion-checkbox>
        </form>
        <a class="button button-positive button-block button-large">Gerar Padrões</a>
    </ion-content>
</ion-view>