<ion-view title="Filtros">
    <ion-content padding="true" class="has-header">
        <ion-header-bar class="bar-positive">
          <h1 class="title">Filtros</h1>
        </ion-header-bar>
        <h4>Período</h4>
        <form class="list">
            <ion-item class="item-stable"
                    ng-click="toggleGroup('periodo')"
                    ng-class="{active: mostraGrupo('periodo')}">
              <i class="icon" ng-class="mostraGrupo('periodo') ? 'ion-minus' : 'ion-plus'"></i>
            Período
            </ion-item>
            
            <ion-item ng-show="mostraGrupo('periodo')" class="item item-input item-accordion">
                <span class="input-label">Data Inicial</span>
                <input type="datetime-local" ng-model='dataInicial' placeholder="Data Inicial">
            </ion-item>
            <ion-item ng-show="mostraGrupo('periodo')" class="item item-input item-accordion">
                <span class="input-label">Data Final</span>
                <input type="datetime-local" ng-model='dataFinal' placeholder="Data Final">
            </ion-item>
            
            <div class='row' class="list" ng-show="mostraGrupo('periodo')">
                <div class='col'>
                    <button class='button button-positive'>Seg</button>
                </div>
                
                <button class="button col"
                        ng-class="teste ? 'button-calm' : 'button-energized'"
                          ng-init='teste = false'
                          ng-click='teste = !teste'>
                    Segunda
                </button>
                
                <div class='col'>
                    <button>Ter</button>
                </div>
                <div class='col'>
                    <button>Qua</button>
                </div>
                <div class='col'>
                    <button>Qui</button>
                </div>
                <div class='col'>
                    <button>Sex</button>
                </div>
                <div class='col'>
                    <button>Sab</button>
                </div>
                <div class='col'>
                    <button>Dom</button>
                </div>
             
            </div>
      
            <ion-item class="item-stable"
                    ng-click="toggleGroup('frequencia')"
                    ng-class="{active: mostraGrupo('frequencia')}">
              <i class="icon" ng-class="mostraGrupo('frequencia') ? 'ion-minus' : 'ion-plus'"></i>
            Frequência
            </ion-item>
            
            <ion-item ng-show="mostraGrupo('frequencia')" class='item-accordion range range-positive'>
                    <i class="icon ion-ios-pulse-strong"></i>
                    <input type="range" name="volume" min="1" max="100" value="frequencia" ng-model='frequencia'>
                    {{ frequencia }} %
            </ion-item>
            
            
            <ion-item class="item-stable"
                    ng-click="toggleGroup('limitePadroes')"
                    ng-class="{active: mostraGrupo('limitePadroes')}">
              <i class="icon" ng-class="mostraGrupo('limitePadroes') ? 'ion-minus' : 'ion-plus'"></i>
            Limite de padrões
            </ion-item>
            
            
            <ion-item class="item-accordion range range-positive" ng-show="mostraGrupo('limitePadroes')">
                <input type="range" min="1" max="20" value="limitePadroes" ng-model='limitePadroes'>
                {{ limitePadroes }}
            </ion-item>
            
            <ion-item class="item-stable"
                    ng-click="toggleGroup('segmentos'); carregaSegmentos()"
                    ng-class="{active: mostraGrupo('segmentos') && segmentos.length > 0}">
              <i class="icon" ng-class="mostraGrupo('segmentos') && segmentos.length > 0 ? 'ion-minus' : 'ion-plus'"></i>
            Segmento
            </ion-item>
            
            <ion-checkbox ng-model='s.isChecked'
                          ng-repeat='s in segmentos'
                          class="item-accordion no-border"
                          ng-show="mostraGrupo('segmentos')">{{ s.segmento }}
                <hr ng-hide='$last'>
            </ion-checkbox>
            
            <ion-item class="item-stable"
                    ng-click="toggleGroup('empresas'); carregaEmpresas()"
                    ng-class="{active: mostraGrupo('empresas')  && empresas.length > 0}">
              <i class="icon" ng-class="mostraGrupo('empresas') && empresas.length > 0 ? 'ion-minus' : 'ion-plus'"></i>
            Empresas / PDVs
            </ion-item>
            
            <div class='list'>
                <div class='item item-accordion item-button-left no-border'
                     ng-repeat='e in empresas'
                     ng-show="mostraGrupo('empresas')">
                    <button class="button button-positive"
                            ng-click="togglePdv(e);">
                        <i class="icon" ng-class="mostraPdvs(e) && e.listaPdv.length > 0 ? 'ion-minus' : 'ion-plus'"></i>
                    </button>

                    <ion-checkbox ng-model='e.isChecked' 
                                  class='no-border'
                                  ng_click="clickEmpresa(e)">{{ e.nomereduzido }}</ion-checkbox>

                    <hr ng-hide='$last'>
                    
                    <ion-checkbox ng-model='p.isChecked'
                                  ng-repeat='p in e.listaPdv' 
                                  class='item-accordion no-border'
                                  ng-show='mostraPdvs(e) && e.listaPdv.length > 0'
                                  ng-click='clickPdv(e, p)'>{{ p.ip }}
                        <hr ng-hide='$last'>
                    </ion-checkbox>
                </div>
            </div>
        </form>
        <a class="button button-positive button-block button-large" ng-click='gerarPadroes()'>Gerar Padrões</a>
    </ion-content>
</ion-view>