<ion-view view-title="Filtro">
  <ion-content>
    <ul class="list">
        <li class="item">
            <label class="checkbox checkbox-label">
                <input type="checkbox" class="checkbox-button">Check 1
            </label>
        </li>
        <li class='item'>
            <label class="checkbox checkbox-label">
                <input type="checkbox" class="checkbox-button">Check 2
            </label>
        </li>
        <li class='item'>
            <label class="checkbox checkbox-label">
                <input type="checkbox" class="checkbox-button">Check 3
            </label>
        </li>
    </ul>
  </ion-content>
</ion-view>