<ion-view view-title="Login">
  <ion-content>
    <div class="center-block" style='margin: 10% 20%;'>
        <form>
            <img src='img/logoC5.png'>
            <div class='form-group'>
                <label>Usuário</label>
                <input placeholder="Usuário" class="form-control" ng-model='usuario.nome' type="text">
            </div>
            <div class='form-group'>
                <label class='text-center'>Senha</label>
                <input placeholder="Senha" class="form-control" ng-model='usuario.senha' type="password">
            </div>
            <button ng-click='login()'>Login</button>
        </form>
    </div>
  </ion-content>
</ion-view>